/* Resets */
@-ms-viewport { width: device-width; }

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
  padding: 0px;
  margin: 0px;
}

/* Misc Styles */
body {
  background: #E9EBEE;
}
.container {
  max-width: 1024px;
  padding: 0px 12px;
  margin: 0 auto;
  width: 100%;
}

/* Header Styles */
header {
  background: #fc461f;
  align-items: center;
  position: fixed;
  display: flex;
  z-index: 1000;
  height: 56px;
  width: 100%;
}

header img {
  height: 40px;
}

/* Main Section Styles */
main {
  padding-bottom: 12px;
  padding-top: 68px;
}

main .posts {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 12px;
  display: grid;
}

@media screen and (max-width: 1024px) {
  main .posts {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 720px) {
  main .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 480px) {
  main .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
