/* Resets */
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
  padding: 0px;
  margin: 0px;
}

/* Misc Styles */
body {
  background: #E9EBEE;
}
.container {
  max-width: 1024px;
  padding: 0px 12px;
  margin: 0 auto;
  width: 100%;
}

/* Header Styles */
header {
  background: #fc461f;
  align-items: center;
  position: fixed;
  display: flex;
  z-index: 1000;
  height: 56px;
  width: 100%;
}

header img {
  height: 40px;
}

/* Main Section Styles */
main {
  padding-bottom: 12px;
  padding-top: 68px;
}