<template>
  <link rel="stylesheet" href="./assets/css/awesomplete.css">
  <style>
    form {
      grid-template-columns: 4fr 2fr 1fr 1fr;
      grid-column-gap: 12px;
      padding-bottom: 18px;
      padding-top: 6px;
      display: grid;
      width: 100%;
    }

    input, button, select  {
      border-radius: 50px;
      padding: 0px 16px;
      margin: 6px 0px;
      height: 36px;
      border: none;
    }

    select {
      -webkit-appearance: none;
              appearance: none;
      background: #FFFFFF;
    }

    input:focus, button:focus, select:focus {
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
      outline: none;
    }

    button {
      text-transform: uppercase;
      background: #fc461f;
      color: #FFFFFF;
      font-size: 14px;
    }

    button:hover {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    .awesomplete > input { width: calc(100% - 32px); }

    @media screen and (max-width: 600px) {
      form { grid-template-columns: 1fr; }
    }
  </style>

  <form>
    <input type="text" placeholder="Subreddit" data-multiple>
    <input type="text" placeholder="Search Term">
    <select placholder="Time Range">
      <option value="hour">Past hour</option>
      <option value="day">Past 24 hour</option>
      <option value="week">Past week</option>
      <option value="month">Past month</option>
      <option value="year">Past year</option>
      <option value="all" selected>Any time</option>
    </select>
    <button type="submit">Search</button>
  </form>
  
</template>
  
<script>
  (function() {
    const doc = (document._currentScript || document.currentScript).ownerDocument;
    const template = doc.querySelector('template').content;
  
    class SearchForm extends HTMLElement {
      static get observedAttributes() { return []; }
  
      connectedCallback() {
        const shadowRoot = this.attachShadow({ mode:'open' });
        const clone = doc.importNode(template, true);
  
        this.shadowRoot.appendChild(clone);
        this.update();
  
        const srInput = this.shadowRoot.querySelectorAll('input')[0];
        const searchInput = this.shadowRoot.querySelectorAll('input')[1];
        const selectInput = this.shadowRoot.querySelector('select');
  
        this.shadowRoot.querySelector('form').addEventListener('submit', (ev) => {
          ev.preventDefault();
          const srvalue = srInput.value.split(', ');
          if (srvalue[srvalue.length - 1] === '') {
            srvalue.pop();
          }
          this.dispatchEvent(new CustomEvent('search', {
            detail: {
              subreddit: srvalue,
              searchTerm: searchInput.value,
              timeRange: selectInput.value
            }
          }));
          return false;
        });

        this.setUpAutocomplete();
      }
  
      attributeChangedCallback(prop, oldValue, newValue) {
        this.update();
      }
  
      update() {
      }

      setUpAutocomplete() {
        const inputEl = this.shadowRoot.querySelector('input');
        let awesomplete = new Awesomplete(inputEl, {
          filter: function(text, input) {
            return Awesomplete.FILTER_CONTAINS(text, input.match(/[^,]*$/)[0]);
          },

          item: function(text, input) {
            return Awesomplete.ITEM(text, input.match(/[^,]*$/)[0]);
          },

          replace: function(text) {
            var before = this.input.value.match(/^.+,\s*|/)[0];
            this.input.value = before + text + ", ";
          }
        });

        let timeout = null;
        let prevValue;
        
        inputEl.addEventListener('keyup', (ev) => {
          const inp = String.fromCharCode(ev.keyCode);
          if (!inputEl.value || (inputEl.value === prevValue) || !/[a-zA-Z0-9-_ ]/.test(inp)) {
            return;
          }

          prevValue = inputEl.value;
          clearTimeout(timeout);
          timeout = setTimeout(() => {
            const url = `https://www.reddit.com/api/subreddit_autocomplete_v2.json?query=${inputEl.value}`
            fetch(url)
              .then(res => res.json())
              .then(res => res.data.children)
              .then(res => res.map(r => r.data.display_name))
              .then((list) => {
                awesomplete._list = list;
                awesomplete.evaluate();
              });
          }, 300);
        });
      }
    }
  
    window.customElements.define('search-form', SearchForm);
  })();
</script>
